---
import Button from "../components/Button.astro";
import Text from "../components/Text.astro";
import TextCard from "../components/TextCard.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro hej</h1>
		<Button variant="container"/>
			<Text header="Best of the day" text="Shots featured"/>
			<Text header="Featured streams" text="Watch livetreams"/>
			<Text header="Subscriptions" text="Premium content"/>
			<Text header="Subscriptions" text="Premium content"/>
		<Button/>
		<TextCard/>
	<!-- 	<Button variant="primary"/>
		<Button variant="secondary"/> -->

	</body>
</html>
