---
const {variant} = Astro.props;
---

<a rhef="#0" class={variant}>
hej jeg er en knap</a>

<style>
    .primary{
        background-color: rebeccapurple;
        padding: 1rem;
        border-radius: 8px;
        color:#fff;
    }

    .secondary{
        background-color: rgb(209, 35, 148);
        padding: 1rem;
        border-radius: 8px;
        color:#512424;
    }
</style>