---
const {variant} = Astro.props;
---

<!-- <a rhef="#0" class={variant}>
hej jeg er en knap</a> -->

<div class={variant}>
</div>

<style>
    /* .primary{
        background-color: rebeccapurple;
        padding: 1rem;
        border-radius: 8px;
        color:#fff;
    }

    .secondary{
        background-color: rgb(209, 35, 148);
        padding: 1rem;
        border-radius: 8px;
        color:#512424;
    } */

    .container{
        background: linear-gradient(90deg, rgba(249,168,212,1) 0%, rgba(129,140,248,1) 100%);
        max-height: 2.5rem;
        max-width: 2.5rem;
    }
</style>