---
---
<div class="card-body">
    <ul class="card-row">
        <li class="card-list"><a href="#"><img src="https://s3.amazonaws.com/peoplejar-production/assets/12395/original/post-image.jpg?1419981725"><span class="post-txt">Family out tailgating and more text</span></a></li>
        <li class="card-list"><a href="#"><img src="https://s3.amazonaws.com/peoplejar-production/assets/12395/original/post-image.jpg?1419981725"><span class="post-txt">Family out tailgating</span></a></li>
        <li class="card-list"><a href="#"><img src="https://s3.amazonaws.com/peoplejar-production/assets/12395/original/post-image.jpg?1419981725"><span class="post-txt">Family out tailgating</span></a></li>
        <li class="card-list"><a href="#"><img src="https://s3.amazonaws.com/peoplejar-production/assets/12395/original/post-image.jpg?1419981725"><span class="post-txt">Family out tailgating</span></a></li>
        <li class="card-list"><a href="#"><img src="https://s3.amazonaws.com/peoplejar-production/assets/12395/original/post-image.jpg?1419981725"><span class="post-txt">Family out tailgating</span></a></li>
        <li class="card-list"><a href="#"><img src="https://s3.amazonaws.com/peoplejar-production/assets/12395/original/post-image.jpg?1419981725"><span class="post-txt">Family out tailgating</span></a></li>
        <li class="card-list"><a href="#"><img src="https://s3.amazonaws.com/peoplejar-production/assets/12395/original/post-image.jpg?1419981725"><span class="post-txt">Family out tailgating</span></a></li>
        <li class="card-list"><a href="#"><img src="https://s3.amazonaws.com/peoplejar-production/assets/12395/original/post-image.jpg?1419981725"><span class="post-txt">Family out tailgating</span></a></li>
      </ul>
</div>